.Rhistory
.Rproj.user/
.DS_Store
renv/library/
renv/local/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/
paper/*.aux
paper/*.bbl
paper/*.bcf
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/*.run.xml

